@footer-height: 40px;
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  font-family: sans-serif;

  #site-content {
    height: calc(~"100% - " @footer-height);
  }

  .company-logo {
    display: inline-block;
    height: 30px;
    width: 30px;
   }

  .company-logo-container {
    width: 100%;
    height: 30px;
  }

  #main-header {
    height: 105px;
    padding-left: 20px;
  }

   .slogan {
    height:75px;
    width: 100%;
    .slogan-text {
     font-size: 300%;
     vertical-align: middle;
     display: inline-block;
    }
    .slogan-icon {
    vertical-align: bottom;
     display: inline-block;
     height: 50px;
     width: 50px;
     .img {
          height: 100%;
          width: 100%;
          background-size: contain;
          background-image: url(../images/Kappa.png);
          background-repeat: no-repeat;
          background-position: 50% 50%;
     }

    }
   }

   .main-container {
    height: calc(~"100% - 75px - " @footer-height);
    display: flex;
    flex-direction: column;
   }

   .platform-tabs {
    padding-top: 20px;
    padding-left: 20px;
   }

   .tab-content {
    flex-grow: 1;
    padding-top: 5px;
    position: relative;

    .tab-pane {
        &.active {
            visibility: visible;
        }
        display: block;
         visibility: hidden;
        position: absolute;
        height: 100%;
        width: 100%;

        #chart-instagram,
        #chart-instagram,
        #chart-twitter {
            height: 100%;
            width: 100%;
        }
    }
   }

  .footer {
    opacity: 0.6;
    height: @footer-height;
    margin-left: 20%;
    margin-right: 20%;
    border-top: solid 1px grey;

  }
}
